/* default/mobile styles */

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/hero-img.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

div#hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #DBF7F6;
    font: 400 2.2rem "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

h2 {
    font: bold 1.8rem 'EB Garamond', serif;
}

h3 {
    font: bold 1.4rem 'EB Garamond', serif;
    color: #687575;
}

p,
span,
a {
    font: 1.1rem 'Montserrat', sans-serif;
    color: #687575;
}

a {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#subheader-state {
    color: #687575;
    background-color: white;
    text-align: center;

}

hr {
    width: 80%
}

#states {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 8px 15px 8px;
}

button#all {
    display: block;
    width: 95%;
    margin: auto;
    padding: 3px;
}

#states button {
    display: inline-block;
    width: 30%;
    height: 45px;
    margin: 2px;
    padding: 3px;
    box-sizing: border-box;
}

button#all,
#states button {
    border-radius: 20px;
    text-align: center;
    border: 1px solid #687575;
    background-color: #687575;
    color: white;
    font: 1rem 'Montserrat', sans-serif;
}



button#all:active,
#states button:active {
    cursor: pointer;
    background-color: #585f5f;
}

.all-buttons {
    margin-top: 20px;
}



.column {
    background-color: #f2f2f2;
    padding: 10px;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    justify-items: center;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 25rem;
    height: 35rem;
    margin: 0 1rem;
    border-bottom: 1px solid #72c2bf;
}

p.description {
    height: 12rem;
    overflow: auto;
}

.name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


div.restaurant-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0.7rem;
}

a.restaurant-name,
p.restaurant-location {
    font-size: 0.9rem;
}

p.restaurant-location {
    margin-right: 2rem;
}

img.dish-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    border: 4px solid #72c2bf;
    border-radius: 10px;
}

footer {
    padding: 1rem;
    background-color: #687575;
}

footer p,
footer a {
    color: #DBF7F6;
    font-size: .8rem;
}



/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    div#hero-text {
        word-spacing: 1rem;
        font-size: 2.8rem;
        width: 80%;
    }

    button#all {
        width: 97%;

    }

    .column {
        background-color: #f2f2f2;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

/* Larger devices (laptops 1024px and up) */
@media only screen and (min-width: 1024px) {


    .column {
        max-width: 60rem;
        grid-template-columns: 1fr 1fr;
        background-color: #f2f2f2;
        padding: 20px;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 34rem;
        margin: 0 1rem;
        border-bottom: 1px solid #72c2bf;

    }

    img.dish-image {

        min-height: 250px;
        max-height: 250px;
        object-fit: cover;

    }

    a.restaurant-name,
    p.restaurant-location {
        font-size: 1.1rem;
    }
}


/* Large devices (large laptops/desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    div#hero-text {
        word-spacing: 1rem;
        font-size: 4rem;
        width: 80%;
    }

    button#all {
        width: 98%;

    }

    .column {
        max-width: 80rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    article {
        max-width: 22rem;
        height: 39rem;
    }

    footer p,
    footer a {
        font-size: 1.1rem;
    }


}


/* XLarge devices (4K destops, 3560px and up) */
@media only screen and (min-width: 2560px) {

    div#hero-text {
        word-spacing: 1rem;
        font-size: 6rem;
        width: 80%;
    }

    button#all {
        width: 99%;
    }

    button#all,
    #states button {
        font-size: 2rem;
    }

    h2 {
        font-size: 3.8rem;
        margin: 1rem;
    }

    h3 {
        font-size: 2.3rem;
    }

    span {
        font-size: 2rem;
    }

    p.description {
        font-size: 1.8rem;
    }

    a.restaurant-name,
    p.restaurant-location {
        font-size: 1.8rem;
    }

    p.description {
        height: 18rem;
        overflow: auto;
    }
    .column {
        max-width: 140rem;
    }


    article {
        max-width: 42rem;
        height: 58rem;
    }

    img.dish-image {
        min-height: 420px;
        max-height: 420px;
        object-fit: cover;
    }

    footer p,
    footer a {
        font-size: 1.5rem;
    }

}